{% extends "base.html" %}
{% block title %} Đổi mật khẩu {% endblock %}
{% block content %}
<div class="container">

    <section class="section-content py-3">
        <div class="row">
            {% include 'sidebar.html' %}
            <main class="col-lg-9 pt-4">
                <form action="{{url_for('auth.change_password')}}" id="register-form" method="post">
        
                    <div class="row">
                        <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                            <label class="form-label" for="emailAddress">Email: </label>
                            <input disabled type="email"  class="form-control form-control-md" value="{{user.email}}" />
                            <input hidden name="email" type="email" id="emailAddress" class="form-control form-control-md" value="{{user.email}}" />
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                            <label class="form-label" for="oldPassword">Mật khẩu: </label>
                            <input name="oldPassword" type="password" id="oldPassword" class="form-control form-control-md" value="" />
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3 pb-2">
                        <div class="form-outline">
                            <label class="form-label" for="newPassword">Mật khẩu mới: </label>
                            <input name="newPassword" type="password" id="newPassword" class="form-control form-control-md" value="" />
                        </div>
                        </div>
                    </div>

                    {% if mess != null %}
                        <p class="text-start" style="color: red; font-weight: bold;">{{mess}}</p>
                    {% endif %}
    
                    <div class="mt-2 pt-2">
                        <input class="btn btn-md custom-btn" type="submit" value="Cập nhật" />
                    </div>
        
                </form>
            
            
            </main>
        </div>
    </section>
    
</div>
{% endblock %}