{% extends "base.html" %}
{% block title %} Quên mật khẩu {% endblock %}
{% block content %}

<!-- <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-6">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-2 pb-2 pb-md-0 mb-md-3" style="color: #009879;">Quên mật khẩu</h3>
              <form method="post" action="" id="login-form">
                <div class=" mb-3">

                    <div class="form-outline">
                        <label class="form-label" for="emailAddress">Email: </label>
                        {% if email == null %}
                        <input type="email" id="emailAddress" class="form-control form-control-md" name="email" />
                        {% endif %}
                        {% if email != null %}
                        <input type="email" id="emailAddress" class="form-control form-control-md" name="email" value="{{email}}" />
                        {% endif %}
                    </div>

                </div>
                  {% if mess != null %}
                  <p class="text-center" style="color: red; font-weight: bold;">{{mess}}</p>
                  {% endif %}
                  <p class="text-center text-dark mt-3 mb-0"><a href="/sign-up" class="fw-bold text-body"><u class="text-custom">Đăng ký</u></a>&nbsp hoặc &nbsp<a href="/login" class="fw-bold text-body"><u class="text-custom">Đăng nhập</u></a></p>
                <div class="mt-2 pt-2">
                  <input class="btn btn-md custom-btn" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<div class="custom-login-page h-100 pb-5">
  <div class="container h-100 pb-5">
    <div class="login_name_wrapper">
        <div class="d-flex justify-content-center">Quên mật khẩu</div>
    </div>
    <div class="d-flex justify-content-center h-50" >
      <div class="user_card pb-5">
          <div class="d-flex justify-content-center">
              <div class="login_logo_container"> <img src="/static/images/Soccerball_shade.svg.png" class="login_logo" alt="Logo"> </div>
          </div>
          <div class="d-flex justify-content-center form_container">
              <form style="width: 320px" method="post" action="" id="login-form">
                  <div id="msgcont" class="d-flex justify-content-center" style="display:none!important">
                      <div id="msg" class="alert alert-danger py-1 px-2" role="alert"></div>
                  </div>
                  <div class="input-group mb-4 mt-4">
                    <div class="input-group-append"> <span class="input-group-text"><i class="fa-solid fa-at"></i></span> </div>
                    {% if email == null %}
                      <input id="email" type="text" name="email" class="form-control input_user" placeholder="abc@gmail.com" >
                    {% else %}
                      <input id="email" type="text" name="email" value="{{email}}" class="form-control input_user" placeholder="abc@gmail.com" >
                    {% endif %}
                  </div>
                  {% if mess != null %}
                  <p class="text-center" style="color: red; font-weight: bold;">{{mess}}</p>
                  {% endif %}
                  <div class="d-flex justify-content-center mt-2 login_container">
                      <button type="submit" name="button" class="btn login_btn fw-bold">Submit</button>
                  </div>
              </form>
          </div>
          <div class="mt-4">
              <div class="d-flex justify-content-center links">
                <a href="/sign-up">Đăng ký </a> &nbsp; or &nbsp;
                <a href="/login"> Đăng nhập</a>
              
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}