
<aside class="col-lg-3"> 
    <nav class="sidebar card h-100">
        <ul class="nav flex-column">
            <li class="nav-item custom-nav-header pt-3 pb-4">
                <p class="text-center fs-5 fw-bolder" > <i class="fa-solid fa-user"></i> {{user.fullname}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Thông tin cá nhân</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/change-password">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Đăng xuất</a>
            </li>
        </ul>
    </nav>
</aside>